/*Стили для блока с новостями организации*/
.news-block-container {
    padding: 96px 7.33% 96px 7.33%;
    display: flex;
    flex-direction: column;
}

/*Контейнер, в котором заголовок и линия*/
.news-block-divider {
    display: flex;
}

.news-block-divider p {
    flex: 0 0 275px;
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    color: #1D2130;
    margin-right: 24px;
}

.news-block-divider div {
    flex: 0 1 100%;
    height: 1px;
    background-color: #E5E5E5;
    align-self: center;
}

/*Контейнер с новостями*/
.news-block {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 302px);
    gap: 24px;
    justify-content: center;
    align-content: center;
}

.news-block a {
    text-decoration: none;
    transition: 0.2s;
}

.news-block a:hover {
    scale: 1.06;
    transition: 0.1s;
}

.news-block div {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.news-block div img {
    width: 100%;
    height: auto;
}

.news-block div p:nth-of-type(1) {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #1C1D28; 
    margin-top: 16px;
}

.news-block div p:nth-of-type(2) {
    margin-top: 8px;
}

@media (max-width: 1499px) {
    .news-block {
        width: 628px;
        align-self: center;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-column-gap: 24px; 
        grid-row-gap: 40px;
    }
}

@media (max-width: 1000px) {
    .news-block-divider p {
        flex: 0 0 210px;
        font-size: 30px;
        line-height: 130%;
        margin-right: 20px;
    }
}

@media (max-width: 750px) {
    .news-block-container {
        padding: 60px 7.33%;
    }
}

@media (max-width: 715px) {
    .news-block-divider p {
        flex: 0 0 175px;
        font-size: 25px;
        line-height: 120%;
        margin-right: 17px;
    }
    .news-block {
        margin-top: 40px;
        width: 100%;
        align-self: center;
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%; 
        grid-row-gap: 35px;
    }
    .news-block div p:nth-of-type(1) {
        font-size: 18px;
        line-height: 25px;
        margin-top: 13px;
    }
    .news-block div p:nth-of-type(2) {
        margin-top: 5px;
    }
}

@media (max-width: 565px) {
    .news-block {
        margin-top: 35px;
        width: 305px;
        grid-template-columns: 302px;
        grid-row-gap: 35px;
    }
}

@media (max-width: 500px) {
    .news-block-container {
        padding: 60px 7.33% 75px 7.33%;
    }
}

@media (max-width: 390px) {
    .news-block {
        width: 100%;
        grid-template-columns: 100%;
    }
}